@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;700;800&family=Oswald:wght@400;700&family=Poppins:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Work Sans', 'Open Sans', 'Lato', 'Montserrat', 'sans-serif', 'Oswald';
}

/* shared styles */
.paragraph-primary {
    color: #727272;
    font-size: 1rem;
}

.btn-primary {
    color: #FFF;
    font-size: 1.3em;
    font-weight: 600;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: none;
    background: #FF900E;
    margin: 30px 0 0 0;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);

}

/* nav styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}

.title-primary {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    width: 800px;
    margin: 20px auto;
    text-align: center;

}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-logo-container {
    padding: 50px 0;
    width: 80%;
    margin: auto;

}

.banner-logo {
    width: 100%;
    border-radius: 8px;
}

/* team feature section styles */
.team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 80px;
}

.team-img {
    width: 200px;
}

.team-img-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.team-img {
    border-radius: 8px;
}

.team-content {
    width: 400px;
}

.team-content .quick-list {
    color: #727272;
    font-weight: 500;
}

.team-content .text-features {
    color: #FF900E;
    ;
    font-weight: 700;
}

/* facts section styles */
.facts-content {
    margin: 50px 650px 50px 120px;
}

.facts-box-container {
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.icon-img {
    margin-top: 20px;
}

/* media query */
@media screen and (max-width:576px) {


    .nav-container {
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .banner-content {
        width: 80%;
        padding: 0;
    }

    .team-img,
    .team-content {
        width: 100%;
    }

    .banner-title {
        font-size: 3rem;
    }

    .team-container {
        flex-direction: column;
    }

    .facts-content {
        margin: 0px;
        padding: 0 50px;
    }

    .facts-box-container {
        flex-direction: column;
        margin: 40px auto;
        gap: 20px;
    }


}

@media screen and (min-width:576px) and (max-width:1000px) {
    .nav-container {
        padding: 50px 60px;
    }

    .banner-content {
        width: 80%;
    }

    .team-container {
        flex-direction: column;
    }

    .team-img {
        width: 100%;
    }

    .team-content {
        width: 90%;
    }

}